html,body {height:100%;
           width: 100%;}
body {padding: 0 2% 2% 2%;}
.text {text-align:center;
       font-size:100%;
      font-family: 'Crimson Text', serif;}
.thediv {padding:2%;
         height:100%;
         width:100%;
         background:#3bad3f;
        border:solid 4px #166119;}
.bluediv {padding:2%;
          height:100%;
          width:100%;
          background:#348eed;
          border:solid;
          border-color:#004996;
          border-width:4px;}
.text2 {text-align:left;
        color:#FFF;
        font-family: 'Crimson Text', serif;}
.yellowdiv {padding:5% 5% 5% 5% ;
            height:35%;
            width:100%;
            background-color:#dbf01f;
            border:solid 4px #f0ff66;}
.yellowdiv:after{content:"";
                 clear:left;
                 display:block;}
.yellowdiv2 {padding:15% 15% 15% 35%;
             height:50%;
             width: 100%;
             background-color:#dbf01f;
             border:solid 4px #f0ff66;
             margin:5% 0 0 0;
             }

.pink {width:23%;
       height:85%;
       background-color:#000000;
       float:left;
       margin:0 2% 0 0;
       border:solid #9900cc 3px;
       padding:3% 5% 3% 5%}
.pink p {color:#fff;
        font-family:'Crimson Text', serif;
        vertical-align:middle;
        font-size:40px;
        margin-top:6%}
.yellowdiv2 p {width:50%;
               height:50%;
               text-align:center;
               font-size:50px}
             
              